.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
   &__wrap{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-image: url('../images/akin-nkUFXi0JSX8-unsplash\ \(1\).jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0,0,0.5);
        }
   }
   &__contant{
       position: relative;
       width: 100%;
       height: 100%;
   }
   &__text{
       position: absolute;
       top: 50%;
       left: 50%;
       text-align: center;
       transform: translate(-50%,-50%);
   }
   &__tittle{
        h2{
           font-size: 4.375rem;
           font-weight: 300;
           @include breakpoint-down(small){
               font-size: 4.175rem;
           }
        }
   }
   &__des{
       margin-bottom: 3rem;
       h2{
           font-size: 3rem;
       }
       span{
           color: $golden;
       }
   }
   &__buttons{
       a{
           padding : .7rem 2rem .7rem 2rem;
           border-radius: 25px;
           border: 1px solid white;
           font-size: .8125rem;
       }
       >a:last-child{
            color: $golden;
            background-color: white;
            border: 1px solid $golden;
       }
       
       
   }
}